.feed {
  flex: 0.45;
  border-right: 0.5px #38444d solid;
  border-left: 0.5px #38444d solid;
  overflow-y: scroll;
  min-width: 376px;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed-header {
  position: sticky;
  top: 0;
  background-color: #15202b;
  z-index: 100;
  border-bottom: 0.5px #38444d solid;
  padding: 15px;
  display: flex;
  flex: 1;
  align-items: center;
}
.feed-headerText {
  flex: 0.5;
  font-size: 20px;
  font-weight: 800;
  color: white;
}
.homeStarsCol {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}
.homeStars {
  fill: #1da1f2;
  padding: 8px;
}
.homeStars:hover {
  background-color: #162d40;
  border-radius: 9999px;
}

@media (min-width: 0) and (max-width: 1000px) {
  .feed {
    flex: 0.9;
  }
}
