.feed {
  flex: 0.45;
  border-right: 0.5px var(--border-color) solid;
  border-left: 0.5px var(--border-color) solid;
  overflow-y: scroll;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed-header {
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
  z-index: 100;
  border-bottom: 0.5px var(--border-color) solid;
  padding: 15px;
  display: flex;
  flex: 1;
  align-items: center;
}
.feed-headerText {
  flex: 0.5;
  font-size: 20px;
  font-weight: 800;
  color: white;
}
.homeStarsCol {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}
.homeStars {
  fill: var(--blue);
  padding: 8px;
}
.homeStars:hover {
  background-color: var(--hover-blue-color);
  border-radius: 9999px;
}

@media (min-width: 0) and (max-width: 1000px) {
  .feed {
    flex: 0.9;
  }
}
@media (min-width: 0) and (max-width: 500px) {
  .feed {
    flex: 1;
    margin: 0px;
  }
}
