.myMessage {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 5px;
}
.myMessage:hover svg {
  display: inline;
}
.myMessage > div {
  display: flex;
  flex-direction: row;
  background-color: var(--from-message-color);
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: px;
  padding: 12px 15px;
  margin-left: 12px;
  font-size: 15px;
  color: white;
}
.myMessage > svg {
  display: none;
  fill: var(--gray);
  width: 22px;
  height: 22px;
  padding: 8px;
  border-radius: 9999px;
}
.myMessage > svg:hover {
  background-color: var(--hover-blue-color);
}
