.friendSuggestions {
  display: flex;
  flex-direction: column;
  background-color: #192734;
  border-radius: 20px;
  margin: 15px 0px;
}
.friendSuggestionsHeader {
  padding: 10px 15px;
  color: #ffffff;
  display: inline;
  font-size: 19px;
  font-weight: 800;
  border-bottom: 0.5px var(--border-color) solid;
}
