.widgetsSearch {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: var(--input-background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  border-radius: 9999px;
  border-color: var(--input-background-color);
  padding: 10px 18px;
}
.widgetsSearchIcon {
  color: #5e8ca6;
  font-size: 15px;
}
.widgetsSearchInput {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: white;
  outline: none;
}
.widgetsSearchInput::placeholder {
  color: #5e8ca6;
  font-size: 15px;
}
.widgetsSearchFocus {
  border: 1px solid var(--blue);
  background-color: var(--main-bg-color);
}
.widgetsSearchIconFocus {
  color: var(--blue);
}
