.post {
  padding-top: 10px;
  border-bottom: 0.5px var(--border-color) solid;
  display: flex;
  flex-direction: row;
}
.post:hover {
  background-color: var(--hover-color);
}
.post > div > .MuiAvatar-root {
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 15px;
}
.post-content-col {
  margin-right: 15px;
  flex: 1;
}
.post-header {
  display: flex;
  align-items: center;
}
.post-header-displayname {
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin-right: 5px;
}

.post-header-username {
  color: var(--gray);
  font-size: 15px;
}
.postMoreIcon {
  margin-top: -10px;
  margin-left: auto;
  margin-right: -5px;
  color: var(--gray);
  border-radius: 9999px;
  padding: 5px;
}

.postMoreIcon:hover {
  background-color: var(--hover-blue-color);
  color: var(--blue);
}

.post-content {
  text-align: justify;
  color: #ffffff;
  display: inline;
  font-size: 15px;
}

.post-event {
  display: flex;
  flex: 1;
}
.post-event > div {
  flex: 0.25;
}
.postIcon {
  fill: var(--gray);
  width: 18px;
  padding: 10px;
  border-radius: 9999px;
}
.postIcon:hover {
  fill: var(--blue);
  background-color: var(--hover-blue-color);
}
.post-image {
  padding-top: 10px;
}

.post-image img {
  width: 100%;
  border-radius: 10px;
}
