.followedYou {
  display: flex;
  align-items: flex-start;
  padding: 10px 35px;
  border-bottom: 0.5px var(--border-color) solid;
}
.followedYou:hover {
  background-color: var(--hover-color);
}
.followedYouIcon {
  border-color: var(--blue);
  color: var(--blue);
  fill: var(--blue);
  width: 30px;
  text-align: center;
  border-radius: 9999px;
  margin-right: 10px;
}
.followedYou > div > span {
  color: #ffffff;
  font-size: 15px;
}
.followedYou > div > .MuiAvatar-root {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
}
