.widgets {
  flex: 0.4;
  margin-top: 5px;
  margin-left: 30px;
}
.widgets::-webkit-scrollbar {
  display: none;
}
@media (min-width: 0) and (max-width: 1000px) {
  .widgets {
    display: none;
  }
}
