.widgetsTopics {
  background-color: var(--element-bg-color);
  margin-top: 15px;
  border-radius: 20px;
}
.widgetsTopicsHeader {
  display: flex;
  align-items: center;
  border-bottom: 0.5px var(--border-color) solid;
  padding: 0px 15px;
}
.widgetsTopicsHeader > span {
  color: white;
  font-size: 19px;
  font-weight: 800;
}
.widgetsTopicsHeader > .MuiSvgIcon-root {
  margin-left: auto;
  color: var(--blue);
  padding: 10px;
  border-radius: 9999px;
}
.widgetsTopicsHeader > .MuiSvgIcon-root:hover {
  background-color: var(--hover-blue-color);
}
.widgetsTopicMore {
  padding: 15px;
}
.widgetsTopicMore:hover {
  background-color: #162d40;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.widgetsTopicMore > span {
  color: var(--blue);
  display: inline;
  font-size: 15px;
}
