.textInputRow {
  border: white 1px solid;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 0px 8px;
  position: relative;
}
.textInputRowActive {
  border: var(--blue) 2px solid;
}
.textInput {
  background-color: var(--main-bg-color);
  border: none;
  color: white;
  font-size: 16px;
  padding: 16px 0px 10px;
  width: 100%;
  outline: 0;
}
.textInputLabel {
  color: var(--gray);
  font-size: 16x;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 10px) scale(1);
  transition: all 0.1s ease-in-out;
}
.textInputLabelActive {
  transform: translate(0, 4px) scale(0.75);
}
