.sidebar {
  flex: 0.2;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
.twitter-icon {
  color: #50b7f5;
  font-size: 30px !important;
  margin-top: 12px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar-tweet {
  background-color: #50b7f5 !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  border-radius: 30px !important;
  text-transform: inherit !important;
  height: 50px !important;
  margin-top: 20px !important;
}
.tweetButton {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 14px 10px;
  background-color: #1da1f2;
  padding: 14px;
  justify-content: center;
  text-align: center;
  border-radius: 9999px;
  color: white;
  font-weight: 700;
}
.setTweetIcon {
  display: none;
  fill: white;
  width: 24px;
}
.profileCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
  border-radius: 9999px;
  padding: 10px;
}
.profileCard:hover {
  transition: color 100ms ease-out;
  background-color: #162d40;
}

.profileCardImage {
  border-radius: 9999px;
  display: flex;
  align-items: center;
}

.profileCardNameCol {
  display: flex;
  flex-direction: column;
  margin-right: 47px;
}

.profileCardNameColName {
  color: #d9d9d9;
  font-size: 15px;
  font-weight: 700;
  line-height: 19.6875px;
}
.profileCardNameColuserName {
  color: #6e767d;
  font-size: 15px;
  line-height: 19.6875px;
}

.profileCardIcon {
  color: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

@media (min-width: 0) and (max-width: 1250px) {
  .sidebarItem > span {
    display: none;
  }
  .tweetButton > span {
    display: none;
  }
  .sidebar {
    padding-left: 5px;
    padding-right: 5px;
    flex: 0.1;
    max-width: 88px;
  }
  .tweetButton {
    max-width: 50px;
    padding: 10px;
    margin: 0;
    margin-top: 10px;
  }
  .tweetButton > span {
    display: none;
  }
  .setTweetIcon {
    display: block;
  }
  .twitter-icon {
    width: 20px;
    margin: 0px;
    padding: 10px;
  }
  .profileCard {
    left: 0px;
    align-items: center;
    padding: 0px;
  }
  .profileCardImage {
    margin-left: 0px !important;
  }
  .profileCard > .profileCardNameCol,
  .profileCard > .profileCardIcon {
    display: none;
  }
}
