.moreMenuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.moreMenuItem > svg {
  height: 19px;
  width: 19px;
  fill: var(--gray);
  padding: 15px;
}
.moreMenuItem > span {
  color: white;
  font-size: 15px;
}
.moreMenuItem:hover {
  background-color: var(--hover-color);
}
