.exploreSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 0.5px var(--border-color) solid;
}

.exploreSearch > .widgetsSearch {
  padding: 5px 18px;
}
.exploreSearch > .MuiSvgIcon-root {
  color: var(--blue);
  padding: 5px;
  border-radius: 9999px;
  margin-left: 10px;
}
.exploreSearch > .MuiSvgIcon-root:hover {
  background-color: var(--hover-blue-color);
}

.feed > .widgetsTopics {
  background-color: var(--main-bg-color);
  border-radius: 0px;
}

.feed > .widgetsTopics > .widgetsTopicMore {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0.5px var(--border-color) solid;
}

.feed > .widgetsTopics > .widgetsTopicsHeader > .MuiSvgIcon-root {
  display: none;
}
.feed > .widgetsTopics > .widgetsTopicsHeader > span {
  padding: 10px 0px;
}
