.sidebarItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: min-content;
}

.sidebarItem > .MuiSvgIcon-root {
  padding: 15px;
}

.sidebarItem > span {
  margin-right: 20px;
  color: white;
  font-size: 19px;
  font-weight: 700;
  line-height: 24.9375px;
}

.sidebarItem:hover {
  border-radius: 30px;
  color: var(--blue);
  transition: color 100ms ease-out;
  background-color: var(--hover-blue-color);
}

.sidebarItem:hover > span {
  color: var(--blue);
}

.sidebarItem:hover > .sidebaricon {
  color: var(--blue);
  fill: var(--blue);
}
.sidebarItem--active > .sidebaricon {
  color: var(--blue);
  fill: var(--blue);
}
.sidebarItem--active > span {
  color: var(--blue);
}
.sidebaricon {
  color: white;
  fill: white;
  padding: 15px;
  width: 24px;
}

@media (min-width: 0) and (max-width: 1250px) {
  .sidebaricon {
    padding: 10px;
    width: 24px;
  }
  .sidebarItem > .MuiSvgIcon-root {
    padding: 10px;
  }
}
